
<%= render "shared/banner" %>

<h1 class = "text-center">Cocktails inspiration</h1>
<br>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-lg-4">
        <!-- insert <div class="card"> -->
          <div class="card" style="background-image: img-path("<%= cocktail.name + '.png' %>")>
            <div class="card-description">
              <h2><%= cocktail.name %></h2>
              <p>Very cool stuff, useful and smart</p>
              <%= link_to '+', cocktail, {class: "btn btn-primary"} %>
            </div>

          </div>
      </div>
    <% end %>
  </div>
</div>
