<div class="banner" id = "banner-picture">
  <div class="banner-content">
    <h1>Drink Classy</h1>
    <p>Best Cocktails in town</p>
    <a class="btn btn-danger btn-lg">Discover</a>
  </div>
</div>
